body{
			margin:0px;
			padding:0px;
			font-size:12px;
			background-color:#EEF8DD;
			overflow:hidden;
			text-align:center;
			position:relative;
		}
		#container{
			width:980px;
		}
		#login{
		background-image:url(../images/login.jpg);
		width:587px;
		height:508px;
		position:absolute;
		margin-top:70px;
		margin-left:380px
		}
		#form{
		padding-top:220px;
		padding-left:170px;
		}
		#input div{
		margin-bottom:18px;
		color:#61803A;
		font-size:12px;
		margin-left:130px;
		text-align:left;
		height:14px;
		}
		#input div input{
		width:120px;
		height:20px;
		background-color:#FFFFFF;
		}
		#btn input{
		border:0px;
		text-decoration:none;
		background-color:#B2DF7A;
		font-size:12px;
		cursor:pointer;
		border-radius:8px;
		width:50px;
		height:25px;
		}
		#btn{
		margin-left:26px;
		margin-top:0px;
		}
		#err{
		height:8px;
		padding-top:0px;
		margin-top:-10px;
		margin-bottom:15px;
		margin-left:168px;
		font-size:10px;
		text-align:left;
		color:#FF0000;}
		#input{
		margin-bottom:0px;}